/* Global Styles */
body {
  
  background-color: #000000; /* Light gray background */
  font-family: 'Arial', sans-serif; /* Modern sans-serif font */
 
  margin: 0 auto;
  line-height: 2; 
  font-family:'Times New Roman', Times, serif;
  
 
 
}






















