/* Login Container */
.login-container {
  /* Image setup */
  background-image: url("./images/login.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 90%;
  padding-top: 200px;
  height: 70vh;
  margin: 0 auto;
  text-shadow: #000000 2px 2px;
}

/* Login Form */
.login-form {
 

  animation: fadeInUp 1.3s ease-out forwards;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  font-size: 2rem;
  opacity: 0;
  color: #ffffff;
  text-align: center;
}

/* Form Group */
.login-form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 30px;
  color: #000000;
}

/* Form Button */
.login-form-button {
  width: 100%;
  font-size: 1.5rem;
  background-color: #fd9610ef;
  color: #000000;
  margin-top: 10px;
}

.login-form-button:hover {
  background-color: #ffae21;
}

/* Responsive adjustments for smaller screens (tablets, etc.) */
@media (max-width: 1024px) {
  .login-container {
    width: 95%;
    padding-top: 150px;
    height: 65vh;
  }

  .login-form {
    width: 60%;
    height: 45vh;
    font-size: 1.7rem;
  }

  .login-form-group {
    font-size: 1.3rem;
  }

  .login-form-button {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 100%;
    padding-top: 100px;
    height: 60vh;
  }

  .login-form {
    width: 80%;
    height: 40vh;
    font-size: 1.5rem;
  }

  .login-form-group {
    font-size: 1.2rem;
  }

  .login-form-button {
    font-size: 1.2rem;
  }
}
