@media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav a, nav button {
      margin-bottom: 10px;
    }
  }


.navbar {


  
  background-color: #ff6b08f8; 
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 15px;
  padding-right:15px; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content:space-evenly;
  
  align-items: center;
    
    
    
  
  }
  
 
  .nav-button{
    
    text-decoration: none;
    background-color: #000000; 
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;   
    justify-content:space-between;   
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #a5a4a4a1; 
  }
  