@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.registration-container {
  border: #ffffff 2px solid;

  background-image: url("./images/register.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  padding-top: 200px;

  height: 70vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.registration-form {
 
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 40%;

  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeInUp 1.3s ease-out forwards;
  opacity: 0;
  color: #ffffff;
  text-shadow: #000000 2px 2px;
  text-align: center;
  font-size: 2rem;
  align-items: center;
  justify-items: center;
}

.register-form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1.5rem;
  width: 100%; /* Adjust this as needed */
  border-radius: 30px;
  color: #000000;
}
.register-button {
  width: 100%; /* Adjust width as needed */
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: #fd9610ef;
  color: #000000;
  margin-top: 10px ; /* Optional: space above button */
}

.register-button:hover {
  background-color: #ffae21;
}
